.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.letter,
.letter-selected {
  height: 60px;
  width: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.letter:hover {
  /* background-color: #ffd4a1; */
  color: darkorange;
}


.currentWord {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  width: 50%;
  margin: auto;
  height: 60px;
}

.submittedWords {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

#selected-letter {
  color: darkorange;
}

#used-letter {
  color: lightgray;
}

.score {
  display: flex;
  color: darkorange;
  padding: 0px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.rank {
  display: flex;
  padding: 0px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 5.5em;
  min-width: 3em;
  height: 3em;
  background-color: white;
  font-size: 1em;
  margin: 0 8px;
  color: black;
  border: 1px solid darkgray;
  border-radius: 2.5em;
  letter-spacing: 0.01em;
}

#help-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 3.5em;
  min-width: 3em;
  height: 3em;
  background-color: white;
  font-size: 1em;
  margin: 0 8px;
  color: black;
  border: 1px solid darkgray;
  border-radius: 2.5em;
  letter-spacing: 0.01em;
  user-select: none;
}

button:hover {
  border: 1px solid black;
}

button:active {
  background-color: #ffd4a1;
}

:focus {
  outline: none !important;
}

.helpContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.help {
  position: fixed;
  left: 15%;
  width: 70%;
  height: 70%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  margin: auto;

}

.help-main {
  position: flex;
  background: white;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.how-to-play-list {
  display: flex;
  justify-content: center;
}

ul {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px;
  grid-column-gap: 5px;
}